In [ ]:
angka = 11
if angka > 10:
    print(f"{angka} lebih besar dari 10")
else:
    print(f"{angka} lebih kecil dari 10")

In [ ]:
angka = 5
print(f"{angka} angka ganjil")

In [ ]:
angka = 3
if angka % 2 == 1:
    print(f"{angka} adalah ganjil")
else:
    print(f"{angka} adalah genap")

In [ ]:
angka = 11
if angka > 10:
    print(f"{angka} lebih besar dari 10")
elif angka == 10:
    print(f"{angka} sama dengan 10")
else:
    print(f"{angka} lebih kecil dari 10")

In [ ]:
menu = ["nasi goreng",
        "mie ayam"
        "soto ayam"
        "ayam penyet"]

In [ ]:
makanan = "mie ayam"
if makanan in menu:
    print(f"abangnya jual {makanan}")
else:
    print(f"abangnya ga jual {makanan}")

In [ ]:
tukang_buah = ["jeruk","pisang","pepaya","mangga"]
if len(tukang_buah) > 3:
    if "jeruk" in tukang_buah:
        print("beli jeruk")
    else:
        print("mampir aja")
else:
    print("skip, cari tukang buah lain")

In [ ]:
len(buah)

In [ ]:
tukang_buah = ["jeruk","pisang", "mangga"]
if 'jeruk' in tukang_buah and 'mangga' in tukang_buah:
    print("mampir")
else:
    print("skip, cari tempat lain")

In [ ]:
nilai = 85
# A : [80 - 100]
# B : [65 - 80]
# C : [40 - 65]
# D : [20 - ]

In [ ]:
nilai = 90 
if 80<= nilai <= 100:
    print('A')
elif 65<= nilai <= 80:
    print ('B')
elif 40<= nilai <= 65:
    print ('C')
elif 20<= nilai <= 20:
    print ('D')
elif 0<= nilai <= 20:
    print ('E')
else:
    print("semua nilai dalam bentuk huruf")

In [56]:
angka = input("masukan angka : ")
angka = float(angka)

In [62]:
i = 0
while i < 5:
    print(f"i ke : {i}")
    print("halo,saya julia")
    i= i + 1

i ke : 0
halo,saya julia
i ke : 1
halo,saya julia
i ke : 2
halo,saya julia
i ke : 3
halo,saya julia
i ke : 4
halo,saya julia

In [64]:
pesanan = []
pesan = ''
while pesan != 'cukup':
    pesan = input("masukkan pesanan anda : ")
    if pesan != 'cukup':
        pesanan.append(pesan)

In [65]:
print(pesanan)

['nasi goreng', 'nasi kuning']

In [66]:
angka = 5

In [68]:
print(pesanan)
print(angka)

['nasi goreng', 'nasi kuning']
5

In [69]:
i = 1
while i <= 10:
    print(f"7 x {i} = {7*i}")
    i = i + 1

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [70]:
i = 1
j = 1
while j <= 10:
    while i <= 10 :
        print(f"{j} x {i} = {j*i}")
        i = i+1
    j = j+1
    i = 1
    print("*"*50)

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
**************************************************
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
**************************************************
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
**************************************************
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
**************************************************
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
**************************************************
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
**************************************************
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
**************************************************
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
**************************************************
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
**************************************************
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100
**************************************************

In [76]:
tukang_buah = ['pepaya', 'mangga', 'pisang', 'jambu']
i = 0
while i < len(tukang_buah):
    print(f"abang ini jual {tukang_buah[i]}")
    i = i + 1

abang ini jual pepaya
abang ini jual mangga
abang ini jual pisang
abang ini jual jambu

In [77]:
tukang_buah = ['pepaya', 'mangga', 'pisang', 'jambu']
for buah in tukang_buah:
    print(f"abang ini jual {buah}")

abang ini jual pepaya
abang ini jual mangga
abang ini jual pisang
abang ini jual jambu

In [3]:
tukang_buah = ['pepaya', 'mangga', 'pisang']
for i in range(len(tukang_buah:
    print(f"abang ini jual {tukang_buah[i]}")

NameError: name 'tukang_buah' is not defined

In [2]:
list(range(len(tukang_buah)))

NameError: name 'tukang_buah' is not defined

In [4]:
for j in range(1, 11):
    for i in range(1,11):
        print(f"{j} x {i} = {j*i}")
    print('*'*50)

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
**************************************************
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
**************************************************
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
**************************************************
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
**************************************************
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
**************************************************
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
**************************************************
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
**************************************************
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
**************************************************
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
**************************************************
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100
**************************************************